@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-gray-600 transition-colors hover:text-black;
}

.pi {
  @apply relative flex flex-1 flex-col items-center overflow-hidden p-4 first:border-b md:first:border-r text-center;
}

.pi-counter {
  background-image: linear-gradient(to bottom right, #D1FAE5AA 25%, #EFF6FFAA 50%, #FFE4E6AA 75%);
  @apply m-auto mb-1 inline-block rounded bg-white bg-opacity-75 px-4 py-0 text-lg font-semibold text-gray-800 shadow;
}

/* .pi.is-winner .pi-counter {
  @apply text-gray-100 bg-gradient-to-r from-green-800 to-green-500;
} */

.p.can-vote .pi-image {
  @apply grayscale;
}

.pi.is-selected .pi-image,.p.can-vote .pi:hover .pi-image {
  @apply grayscale-0;
}

.pi-check {
  @apply absolute bottom-2 right-2 h-10 w-10 opacity-20 transition-colors;
}

.pi.is-selected .pi-check,.p.can-vote .pi:hover .pi-check {
  @apply opacity-100;
}

.p {
  @apply relative mx-auto mb-10 mt-2 w-full overflow-hidden sm:w-[600px];
}

.p-title {
  @apply p-2 text-center font-display text-2xl font-semibold sm:text-3xl sm:leading-[2.2rem];
}

.p-body {
  @apply relative mx-auto mt-2 h-[580px] w-full overflow-hidden rounded-2xl border border-gray-200 bg-white sm:h-[320px];
}

.p-body.not-rounded {
  @apply rounded-none;
}

.p.is-active .p-body {
  cursor: pointer;
}

.pi-shadow {
  @apply absolute top-0 h-1/3 w-full bg-gradient-to-t from-transparent to-gray-700;
}

.pi-text {
  @apply absolute top-0 w-full grow overflow-hidden bg-opacity-25 py-2 text-white;
}

.pi-title {
  @apply mb-1 text-lg font-semibold drop-shadow;
}

.pi-d {
  @apply whitespace-nowrap text-xs text-gray-300 drop-shadow;
}

.p-tags {
  @apply ml-4 mr-4 rounded-b-2xl bg-gray-200 px-4;
}

.p-vs {
  @apply absolute left-1/2 top-1/2 rounded-full px-5 py-4 text-xl font-bold text-gray-700 sm:text-2xl shadow;
  background-image: linear-gradient(to bottom right, #D1FAE5 25%, #EFF6FF 50%, #FFE4E6 75%);
  transform: translate(-50%, -50%);
}

.base-html h1 {
  @apply text-3xl font-semibold;
}

.base-html h2 {
  @apply text-2xl font-semibold;
}

.base-html h3 {
  @apply text-xl font-semibold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.base-html h4 {
  @apply text-lg font-semibold;
}

.base-html h5 {
  @apply text-base font-semibold;
}

.base-html h6 {
  @apply text-sm font-semibold;
}

.base-html p {
  @apply mb-4;
}

.base-html ul {
  @apply list-disc list-inside;
}

.base-html ol {
  @apply list-decimal list-inside;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.base-html li {
  @apply mb-2;
}

.base-html a {
  @apply text-blue-500 underline;
}
